
/* PAGINA - FOTOS */


/* CARATULA FOTOS */
.caratula-fotos{
    @extend %caratulas;
    background-image: url(../src/multimedia/Img/fotos/slide_fotos.jpg);
    }


    .body-fotos{
        @extend %bg-position;
               
    
.container-tab{
    padding: 2% 0% 2% 45%;
    
    border-bottom: 2px solid #142633;
    background-color: #fff;
    
    .pestaña{
        @extend %subtitulos;
        color:black;
      
        padding: 0.5rem 1rem 0% 0%;
        font-size: 20px;
    }
    .pestaña.active{
        background-color: #fff;
        color: grey;

    }
}

/* DEFINO LAS PROPIEDADES DEL GRID */
.container-fotos{
padding: 3% 15% 7% 15%;

.fotos-row{
    padding-bottom: 2%;

    .fotos-col{
        position: relative;
        
        .fotos-item{
         display: block;
         max-width: 100%;
        }
   
    }
}
}

}
.modal-img{
    width: 100%;
	
	object-fit: cover;
}

.fotos-item:hover {
    filter: blur(1px);
    cursor: zoom-in;
  }


  /*CEL*/
@media (max-width: 599px){

    .container-tab{
        padding: 2% 0% 2% 30% !important;
    } 
    
    .fotos-item{
        padding: 2% 0% 2% 0% ;
    }
}


