


/* SECTION BIENVENIDO- DEFINO ESTILO */
.bienvenidos-body{

    .bienvenidos-container{
        /*IMAGEN DE FONDO DE BIENVENIDOS*/
        background-image: url("../../src/multimedia/Img/bg_trama.jpg");
        background-size: auto;
        background-position: center center;
        height: 450px;

    
     
        /* UBICACIÓN ISO LOS GRANADOS EN SECTION BIENVENIDOS */
        .bienvenido-logo{
         justify-items: center;
         margin: 8% 0% 0% 48.5%;
         
        }
        
        /* UBICACIÓN TÍTULO SECCIÓN BIENVENIDOS */
        .bienvenidos-titulo{
            margin-top: 1%;
            @extend %titulos;
            text-align: center;
        }
        
        /* UBICACIÓN PÁRRAFO SECCIÓN BIENVENIDOS */
        .bienvenido-parrafo{
            width: 50%;
            text-align: center;
            margin: 0% 26%;
            @extend %texto;
            
        }
    }
}

/*DEFINO PARAMETROS SERVICIOS INDEX*/

.container-servicios-index{
    padding: 3% 15%;
    padding-bottom: 7%;
    text-align: center;
    .row-servicios-index{

        .servicios-index-col{
            padding: 0 3%;
          img{
              padding-bottom: 2%;
              display: block;
              margin: auto;
          } 
          h4{
              text-align: center;
              @extend %subtitulos;
          }
          p{
            margin-bottom: 7%;
              text-align: center;
              @extend %texto;
          }
            
        }
       .servicios-index-col2{
        padding: 0 3%;
         border-left: 1px solid #142633;
         border-right: 1px solid #142633;
         img{
            padding-bottom: 2%;
            display: block;
            margin: auto;
        } 
        h4{
            text-align: center;
            @extend %subtitulos;
        }
        p{
            margin-bottom: 7%;
            text-align: center;
            @extend %texto;
        }
       } 
    }
}

/*DEFINO ESTILO CONSULTA*/
.container-consultas-index{
    padding: 3% 15% 5% 15%;
    
    /*POR QUÉ NO ME CARGA EL BG IMG*/
    background-image: url("../../src/multimedia/Img/bg_verde_claro.jpg");

        /*TITULO PARAMETROS*/
        h4{
            text-align: center;
            @extend %titulos;
            padding-bottom: 1%;
        }
    /*DEFINO ESPACIO EN ROWS*/
    .formulario-row{
        padding-bottom: 2%;
        .formulario.col{
            padding: 4%;
            padding-bottom: 2%;
        }

    }

    /*DEFINO FORMATO BOTON*/
   
     .formulario-row-button{
        text-align: center;
        
     }
}
/*Color de fondo de los inputs del formulario y bordes negros*/
.form-control{
    background-color: #dfe0b6;
    
    border: 1px solid;
 }
 /*BOTON ENVIAR, COLOR DE FONDO Y LETRA*/
 .btn-azul{
    color: white;
    background-color: #142633;
    align-items: center;
    margin-top: 2%;
 }
 .btn-azul:hover{
    color: white;
    background-color: #7b9f8c;
    
 }
 
/*DEFINO ESTILO INSTAGRAM*/

  /*ROW 1 PARÁMETROS*/
  
  .container-ig{
      
    .row-ig1{
    padding: 5% 15%;

    /*TITULO PARAMETROS*/
    h4{
        text-align: center;
        @extend %titulos;
        padding-bottom: 1%;
    }

    /*DIRECCIÓN TEL, REDES Y MAIL PARÁMETROS*/
   .redes{
       text-align: center;
       

    }
    ul{
        list-style: none;
        padding: 2% 0;
        li{
            display: inline-block;
            
        }
    }
    }
}


.conteiner-entorno{
    display: grid;
    grid-template-columns:  repeat(2, minmax(0, 1fr));
    
}

.texto-entorno{
    background-color: #d8cebf;
   
    h4{
        margin-top: 20%;
        margin-left: 15%;
        @extend %titulos;
       
    }
    p{
        width: 50%;
        margin: 0% 0% 0% 15%;
        @extend %texto;
    }
    a{
        background-color: #7b9f8c;
        border: #7b9f8c;
        color:white;
        width: 12rem;
        margin: 8% 0% 0% 15%;
        @extend %texto;
    }
}

/*CEL*/
@media (max-width: 576px) { 
    
    .carousel-text-container{
        display: flex;
        flex-direction: column;
        margin-top: 10px !important;
    }

    .conteiner-entorno{
        display: grid;
        grid-template-columns:  repeat(1, minmax(0, 1fr));
        grid-auto-rows: 1fr;
    }
    
    .img-entorno{
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .texto-entorno{

        text-align: center;
        h4{
           
           margin: 10% auto 8% auto;
            text-align: center 
            
            
        }
        p{
            
            margin: auto;
           
        }
        a{
            background-color: #7b9f8c;
            border: #7b9f8c;
            color:white;
            width: 12rem;
            margin: 10% 10% 15% 10%;
            
        }
    }
  
 }

//TABLET
 @media (max-width: 991px) { 

    //El tamaño de la foto en tablet sino lo configuro rompe los margenes de index
    
    .img-entorno{
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
  
 }