
/* PAGINA - SERVICIOS*/





/* TAMAÑO CARATULA SERVICIOS */
.caratula-servicios {
    @extend %caratulas;
    background-image: url(../src/multimedia/Img/servicios/slide_servicios.jpg);
    
}
    
.body-servicios{
    @extend %bg-position;


    /*DEFINO PROPIEDADES DEL CONTAINER*/
.container-servicios{
    padding: 3% 14% 7% 14%;
    
    
    /*  TAMAÑO DEL CONTENEDOR DE SERVICIOS */
    .row-servicios{
        display: flex;
        padding: 7% 0 3% 0;
        border-bottom: 2px solid #142633;
    }
   

    .servicios-col1{
        
        /*DEFINO PROPIEDADES IMAGEN*/
        img{
            width: 100%; 
                   
        }
    }
    
    /*DEFINO PARAMETROS COL 2*/
    .servicios-col2{
        padding-left: 1.5%;

        /*PROPIEDADES LOGO SERVICIOS*/
     .img-servicios{
         width: 20%;
         margin-left: 5%;
         margin-bottom: 3%;
     }

     /*DEFINO PARAMETROS H3*/
     h3{
        margin-left: 5%;
         @extend %titulos;
     }

     /* DEFINO PADDING PARA LAS 3 SECCIONES*/
     p, h4{
         padding-left: 5%;
     }

     /*DEFINO PARÁMETROS PÁRRAFO*/
     p{
        
         @extend %texto;
     }

     /*DEFINO PARAMETROS SUBTITULO*/
     h4{
         padding-bottom: 1%;
         @extend %subtitulos;
     }

     /*ESTILO DE LINK PAG WEB*/
     a{
        text-decoration: none;
        
        
     h5{
       
        padding-left: 5%;
        @extend %subtitulos2;
        color: #142633;
        padding-bottom: 4%;
     }
    }
/*DEFINO PARAMETROS LISTA*/
ul{
    padding-left: 5%;
    @extend %texto;
    list-style-type: none;

    li{
        
        border-top: 0.2px dotted gray;
         border-bottom: 0.2px dotted gray;
    }
 }
}
}
}

.iconos-servicios{

    width: 25px !important;
    margin: 10px 10px 10px 10px;

}


//CEL

@media (max-width: 599px) {
.caratula-servicios {
    margin-bottom: 50px;
}
    
    .row-servicios{
        display: flex;
        flex-direction: column;
        padding: 7% 0 3% 0;
}
}