/*HEADER*/

/* DEFINO COLOR Y ALTURA DEL NAV*/
.nav-header{
	
    background-color: #142633;
    
}
.navbar-nav{
    margin-left: auto;
    margin-right: 6%;
} 

.btn-menu{
    color: white;
}


/* ESTILOS DEL LOGO*/
.logo-header{
        width: 200px;
        padding-left: 6%;
    }
/* TIRO LA UL A LA DERECHA*/
.lista1 {
    
    margin-right: 20px;
    margin-top:  26px;
    
}


/* DEFINO ESTILOS DE CADA ANCLA DE ESA UL */
.header-item a{
    padding: 10px;
    text-decoration: none;
    font-family: "Encode Sans Semi Condensed";
    font-weight: 400;
    font-size: 15px;
    transition: all 0.2s ease-in;
    
}

/* HOVER PARA HEADER */
.header-item:hover a {
    font-size: 16px;
    padding: 8px;
  
}
 //TABLET

 @media (max-width: 991px) { 
    

    .navbar-nav{
        display: flex;
        text-align: center;
        
        
    }
    .logo-header{
        width: 100px;
       
        display: block;
        margin: auto;
        
    }
    .offcanvas-title{
        display: block;
        margin: auto;
    }
    .lista1 {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .img-titulo{
        content:url("../src/multimedia/Img/iso_header.png");
    }
    
    .header-item{
        padding-top: 1rem;
    }
 }


/*CEL*/
@media (max-width: 599px) { 
    

    .navbar-nav{
        display: flex;
        text-align: center;
        
        
    }
    .logo-header{
        width: 60px;
       
        display: block;
        margin: auto;
        
    }
    .offcanvas-title{
        display: block;
        margin: auto;
    }
    .lista1 {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .img-titulo{
        content:url("../src/multimedia/Img/iso_header.png");
    }
    
    .header-item{
        padding-top: 1rem;
    }
 }

