/*HEADER*/

/* DEFINO COLOR Y ALTURA DEL NAV*/
.nav-header{
	
    background-color: #142633;
}


/* ESTILOS DEL LOGO*/
.logo-header{
        width: 200px;
        padding-left: 6%;
    }
/* TIRO LA UL A LA DERECHA*/
.lista1 {
    float: right;
    margin-right: 20px;
    margin-top:  26px;
    
}
/* LA PONGO EN LINEA*/
.header-item{
    display: inline-block;
    
}

  

/* DEFINO ESTILOS DE CADA ANCLA DE ESA UL */
.header-item a{
    padding: 10px;
    text-decoration: none;
    font-family: "Encode Sans Semi Condensed";
    font-weight: 400;
    font-size: 15px;
    transition: all 0.2s ease-in;
    
}

/* HOVER PARA HEADER */
.header-item:hover a {
    font-size: 16px;
    padding: 8px;
  
}


/*CEL*/
@media (max-width: 576px) { 
    

    .nav-header{
        display: flex;
        
        
    }
    .logo-header{
        
        padding-left: 30%;
        display: flex;
        align-items: center;
        
    }

    .lista1 {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
 }