/* EXTENDS */


%caratulas{
    height: 250px;
    background-position: center center;
    background-size: auto;
}


%bg-position{
    background-color: #fff;
    background-size: auto;
    background-position: center center;
}

%subtitulos-footer{
         font-family: "Encode Sans Semi Condensed";
            font-weight: 700;
            font-size: 16px;
}

%texto-footer{
    font-family: "Encode Sans Semi Condensed";
    font-weight: 200;
    font-size: 16px;
}


%titulos{
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 48px;
}

%subtitulos{
    font-family: "Encode Sans Semi Condensed";
    font-weight: 700;
    font-size: 20px;
}
%subtitulos2{
    font-family: "Encode Sans Semi Condensed";
    font-weight: 700;
    font-size: 13px;
}


%texto{
    font-family: "Encode Sans Semi Condensed";
    font-weight: 400;
    font-size: 18px;
    }
